@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");
body {
  font-family: "Noto Serif", serif;
  font-size: 62.5%;
}

/*=====================================================
# common
===================================================== */
/*=====================================================
# main
===================================================== */
.main {
  background: url(/image/fv01.png) no-repeat center center/cover;
}

.main-inner {
  max-width: 1200px;
  margin: 0 auto;
}

.header-inner {
  display: flex;
}
